HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

# Derp
node_modules/
.DS_Store
src/main/resources/static/app.css
src/main/resources/static/app.css.map
src/main/resources/static/react-app.js
src/main/resources/static/react-app.js.map