// Colors
$green: #090;
$black: #333;

// Breakpoints
$small: 481px;
$medium: 768px;
$large: 1025px;

//

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
p {
  margin-bottom: 1em;
}
a {
  text-decoration: none;
}
.container {
  width: 1040px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.row {
  margin: 0 -10px;
}
[class*="col-"] {
  padding: 0 10px;
  float: left;
  min-height: 1px;
}
@for $i from 1 through 12 {
  $width: percentage($i / 12);

  .col-#{$i} {
    width: $width;
  }
}
@for $i from 1 through 12 {
  $width: percentage($i / 12);

  @media (min-width: $small) {
    .col-sm-#{$i} {
      width: $width;
    }
  }
}
@for $i from 1 through 12 {
  $width: percentage($i / 12);

  @media (min-width: $medium) {
    .col-md-#{$i} {
      width: $width;
    }
  }
}
@for $i from 1 through 12 {
  $width: percentage($i / 12);

  @media (min-width: $large) {
    .col-lg-#{$i} {
      width: $width;
    }
  }
}
.row:after {
  content: '';
  display: block;
  clear: both;
}
.fleft {
  float: left;
}
#header {
  background: $black;
  padding: 10px 0;
  margin-bottom: 20px;
}
#header a {
  font-size: 32px;
  color: #fff;
  transition: 1s;
  display: inline-block;
}
#header a:hover {
  color: $green;
  transform: skew(20deg);
}
.subs-views {
  margin-bottom: 10px;

  &__inner {
    background: #eee;
    padding: 20px;
    border-radius: 2px;
  }

  &__stat {
    &:first-child {
      margin-bottom: 10px;
    }
  }
}
.controls {
  margin-bottom: 10px;

  &__prev,
  &__next {
    a {
      display: inline-block;
      padding: 5px 10px;
      border-radius: 10px;
      letter-spacing: .1em;
      font-weight: bold;
      background: teal;
      text-transform: uppercase;
      color: white;
    }
  }

  &__next {
    text-align: right;
  }

  &__sort {
    margin-top: 10px;

    @media (min-width: $small)  {
      margin-top: 0;
      text-align: right;
    }

    label {
      font-size: 12px;
      margin-right: 4px;
    }
  }
}
.video {
  margin-bottom: 10px;

  &:hover &__title {
    text-decoration: underline;
  }

  &__img {
    margin-bottom: 5px;
    position: relative;
    padding-top: 75%;

    img {
      max-width: 100%;
      position: absolute;
      top: 0;
    }
  }

  &__title {
    font-size: 14px;
    color: blue;
    margin-bottom: 10px;

    @media (min-width: $small) {
      height: 2em;
    }
  }

  &__info {
    color: $black;
    font-size: 13px;
    margin-top: 5px;
  }

  &__info-spacer {
    margin: 0 2px;
  }

  &__info-likes {
    color: green;
  }

  &__info-dislikes {
    color: #e00;
  }

  &__info-date {
    font-weight: bold;
  }
}
