<div class="videos container">
  <div class="row">
    {{# videos }}
      <div class="video col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="https://www.youtube.com/watch?v={{ id }}" target="_blank" rel="noreferrer">
          <div class="video__img">
            <img src="{{ imgSrc }}" alt="{{ title }}">
          </div>
          <div class="video__title">{{ title }}</div>

          <div class="video__info">
              <span class="video__info-views">{{ viewCount }} views</span>
              <span class="video__info-spacer">&bull;</span>
              <span class="video__info-likes">{{ likeCount }} likes</span>
          </div>

          <div class="video__info">
            <span class="video__info-date">
              Published on {{ publishedAt }}
            </span>
          </div>
        </a>
      </div>
    {{/ videos }}
  </div>
</div>