<!DOCTYPE html>
<html>

<head>
  <title>JRE Stats</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/app.css">

<!--   <link rel="preload" href="https://www.googletagmanager.com/gtag/js?id=UA-30447151-5" as="script">
  <link rel="preload" href="/scripts/jquery-3.4.1.slim.min.js" as="script">
  <link rel="preload" href="/scripts/app.js" as="script"> -->
</head>

<body>

  {{> partials/header }}

  {{> partials/channel-info }}
  {{> partials/controls }}
  {{> partials/video-list }}

  {{> partials/_footer }}
</body>
</html>