<!DOCTYPE html>
<html lang="en">

<head>
  <title>JRE Stats</title>
  <meta name="description" content="JRE Stats is where you can find the best Joe Rogan Experience YouTube videos. See how the channel is growing and find videos that YouTube would never let you find!">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/app.css">
</head>

<body>

  {{> partials/header }}

  <main>
    {{> partials/channel-info }}
    {{> partials/controls }}
    {{> partials/video-list }}
  </main>

  {{> partials/_footer }}
</body>
</html>