<!DOCTYPE html>
<html>

<head>
  <title>JRE Stats</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/app.css">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30447151-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-30447151-5');
  </script>

  <script defer src="/app.js"></script>
</head>

<body>

  <div id="header">
    <div class="container">
      <div class="row">
        <a href="/" class="col-12">JRE Stats</a>
      </div>
    </div>
  </div>

  <div class="subs-views container">
    <div class="row">
      <div class="col-12">
        <div class="subs-views__inner">
          {{# channel.items.0.statistics }}
            <div class="subs-views__stat"><b>Subscribers:</b> {{ subscriberCount }}</div>
            <div class="subs-views__stat"><b>Views:</b> {{ viewCount }}</div>
          {{/ channel.items.0.statistics }}
        </div>
      </div>
    </div>
  </div>

  <div class="controls container">
    <div class="row">
      <div class="col-6 col-sm-3 col-md-1 controls__prev">
        <a
          {{# pagination.prev }} href="?page={{ pagination.prev }}" {{/ pagination.prev }}
          {{# pagination.home }} href="/" {{/ pagination.home }}
        >
          Prev
        </a>
      </div>

      <div class="col-6 col-sm-3 col-md-1 controls__next">
        <a
          {{# pagination.next }} href="?page={{ pagination.next }}" {{/ pagination.next }}
        >
          Next
        </a>

      </div>

      <div class="col-12 col-sm-6 col-md-10 controls__sort">
        <select onchange="jreStats.sort()" name="sort">
          <option>Sort By</option>
          <option value="publishedAt">Date added (newest)</option>
          <option value="-publishedAt">Date added (oldest)</option>
          <option value="viewCount">Views (most)</option>
          <option value="-viewCount">Views (least)</option>
          <option value="likeCount">Likes (most)</option>
          <option value="-likeCount">Likes (least)</option>
          <option value="dislikeCount">Dislikes (most)</option>
          <option value="-dislikeCount">Dislikes (least)</option>
          <option value="likesPerView">Likes per view (most)</option>
          <option value="-likesPerView">Likes per view (least)</option>
          <option value="dislikesPerView">Dislikes per view (most)</option>
          <option value="-dislikesPerView">Dislikes per view (least)</option>
        </select>
      </div>
    </div>
  </div>

  <div class="videos container">
    <div class="row">
      {{# videos }}
        <div class="video col-12 col-sm-6 col-md-4 col-lg-3">
          <a href="https://www.youtube.com/watch?v={{ id }}" target="_blank">
            <div class="video__img"><img src="{{ imgSrc }}"></div>
            <div class="video__title">{{{ title }}}</div>

            <div class="video__stats">
              <span class="video__stats-views">
                <span class="js-format-number">{{ viewCount }}</span> views
              </span>

              &bull;

              <span class="video__stats-likes">
                <span class="js-format-number">{{ likeCount }}</span> likes
              </span>

              &bull;

              <span class="video__stats-dislikes">
                <span class="js-format-number">{{ dislikeCount }}</span> dislikes
              </span>
            </div>
          </a>
        </div>
      {{/ videos }}
    </div>
  </div>
</body>
</html>